:root {
  --accentblue: rgba(201, 234, 253, 1);
  --accentgreen: rgba(208, 241, 235, 1);
  --accentorange: rgba(245, 212, 193, 1);
  --accentpink: rgba(253, 201, 210, 1);
  --accentpurple: rgba(222, 210, 249, 1);
  --accentyellow: rgba(253, 235, 201, 1);
  --components-large-font-family: "Raleway-Bold", Helvetica;
  --components-large-font-size: 16px;
  --components-large-font-style: normal;
  --components-large-font-weight: 700;
  --components-large-letter-spacing: -0.5px;
  --components-large-line-height: 24px;
  --components-medium-bold-font-family: "Raleway-Bold", Helvetica;
  --components-medium-bold-font-size: 14px;
  --components-medium-bold-font-style: normal;
  --components-medium-bold-font-weight: 700;
  --components-medium-bold-letter-spacing: 0px;
  --components-medium-bold-line-height: 16px;
  --components-medium-font-family: "Raleway-Regular", Helvetica;
  --components-medium-font-size: 14px;
  --components-medium-font-style: normal;
  --components-medium-font-weight: 400;
  --components-medium-letter-spacing: 0px;
  --components-medium-line-height: 16px;
  --components-small-font-family: "Raleway-Bold", Helvetica;
  --components-small-font-size: 12px;
  --components-small-font-style: normal;
  --components-small-font-weight: 700;
  --components-small-letter-spacing: 0px;
  --components-small-line-height: 16px;
  --elevation-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 8px 16px -2px rgba(0, 0, 0, 0.12);
  --elevation-3: 0px 12px 24px -4px rgba(0, 0, 0, 0.12);
  --elevation-4: 0px 24px 40px -8px rgba(0, 0, 0, 0.12);
  --heading-h0-font-family: "Raleway-Bold", Helvetica;
  --heading-h0-font-size: 72px;
  --heading-h0-font-style: normal;
  --heading-h0-font-weight: 700;
  --heading-h0-letter-spacing: -1px;
  --heading-h0-line-height: 104.99999523162842%;
  --heading-h1-font-family: "Raleway-Bold", Helvetica;
  --heading-h1-font-size: 56px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 700;
  --heading-h1-letter-spacing: -1px;
  --heading-h1-line-height: 108.00000429153442%;
  --heading-h2-font-family: "Raleway-Bold", Helvetica;
  --heading-h2-font-size: 40px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 700;
  --heading-h2-letter-spacing: -1px;
  --heading-h2-line-height: 112.00000047683716%;
  --heading-h3-font-family: "Raleway-Bold", Helvetica;
  --heading-h3-font-size: 32px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 700;
  --heading-h3-letter-spacing: -1px;
  --heading-h3-line-height: 127.99999713897705%;
  --heading-h4-font-family: "Raleway-Bold", Helvetica;
  --heading-h4-font-size: 24px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: -0.5px;
  --heading-h4-line-height: 127.99999713897705%;
  --heading-h5-font-family: "Raleway-Bold", Helvetica;
  --heading-h5-font-size: 20px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 700;
  --heading-h5-letter-spacing: -0.5px;
  --heading-h5-line-height: 22.5px;
  --ink-01: rgba(25, 29, 33, 1);
  --ink-02: rgba(101, 111, 119, 1);
  --ink-03: rgba(172, 184, 194, 1);
  --ink-04: rgba(205, 217, 227, 1);
  --ink-05: rgba(232, 238, 243, 1);
  --ink-06: rgba(255, 255, 255, 1);
  --paragraph-large-bold-font-family: "Raleway-Bold", Helvetica;
  --paragraph-large-bold-font-size: 16px;
  --paragraph-large-bold-font-style: normal;
  --paragraph-large-bold-font-weight: 700;
  --paragraph-large-bold-letter-spacing: -0.5px;
  --paragraph-large-bold-line-height: 24px;
  --paragraph-large-font-family: "Raleway-Regular", Helvetica;
  --paragraph-large-font-size: 16px;
  --paragraph-large-font-style: normal;
  --paragraph-large-font-weight: 400;
  --paragraph-large-letter-spacing: -0.5px;
  --paragraph-large-line-height: 150%;
  --paragraph-medium-bold-font-family: "Raleway-Bold", Helvetica;
  --paragraph-medium-bold-font-size: 14px;
  --paragraph-medium-bold-font-style: normal;
  --paragraph-medium-bold-font-weight: 700;
  --paragraph-medium-bold-letter-spacing: 0px;
  --paragraph-medium-bold-line-height: 24px;
  --paragraph-medium-font-family: "Raleway-Regular", Helvetica;
  --paragraph-medium-font-size: 14px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: 150%;
  --paragraph-small-bold-font-family: "Raleway-Bold", Helvetica;
  --paragraph-small-bold-font-size: 12px;
  --paragraph-small-bold-font-style: normal;
  --paragraph-small-bold-font-weight: 700;
  --paragraph-small-bold-letter-spacing: 0px;
  --paragraph-small-bold-line-height: 16px;
  --paragraph-small-font-family: "Raleway-Regular", Helvetica;
  --paragraph-small-font-size: 12px;
  --paragraph-small-font-style: normal;
  --paragraph-small-font-weight: 400;
  --paragraph-small-letter-spacing: 0px;
  --paragraph-small-line-height: 16px;
  --utilityactive: rgba(24, 20, 228, 1);
  --utilitydanger-error: rgba(255, 90, 90, 1);
  --utilitydark-background: rgba(57, 57, 57, 1);
  --utilityinfo: rgba(145, 215, 224, 1);
  --utilitysuccess: rgba(35, 233, 180, 1);
  --utilitywarning: rgba(255, 172, 75, 1);
}
